.box{
    height: 100px;
    width: 300px;
    background-color: pink;
    border:2px solid black;
    font-size: 20px;
    text-align: center;

/* animation-name: heightanimate;
animation-duration: 2s;
animation-timing-function: ease-out;
animation-delay: 0;
animation-iteration-count: infinite;
animation-direction: normal; */

animation: fontanimate 2s linear 0s infinite normal;
}

@keyframes fontanimate{
    0%{
       font-size:20px;
       background-color: aqua;
       height: 100px;
    } 
    25%{
        background-color: blueviolet;
    }
    50%{
   border-radius: 50%;
    }

    75%{
        font-size: 10px;
        background-color: blue;
        height:300px;
        
    }
    100%{
         font-size: 30px;
    }

}

@keyframes backgroundanimate{
    from{
        background-color: aqua;
    }
    to{
        background-color: blue;
    }
}

@keyframes heightanimate {
    from{
        height: 100px;
    }
    to{
        height:300px
    }
}